<%= form_with(model: comment, local: true) do |form| %>
	<% if comment.errors.any? %>
	<div id="error_explanation">
		<h2><%=pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:%></h2>
		<ul>
			<% comment.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :comment_box %>
    <%= form.text_area :comment_box %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Voltar para todos os posts', posts_path%>


