<%= form_with(model: user, local: true) do |form| %>
    <div class="field">
        <%= form.label :name, "Nome" %>
        <%= form.text_field :name %>
    </div>
    <div class="field">
        <%= form.label :email, "E-mail" %>
        <%= form.email_field :email %>
    </div>

    <div class="field">
        <%= form.label :password, "Senha" %>
        <%= form.password_field :password %>
    </div>

    <div class="field">
        <%= form.label :password_confirmation, "Confirmar senha" %>
        <%= form.password_field :password_confirmation %>
    </div>

    <div class="actions">
    <%= form.submit "Cadastrar"%>
    </div>

    <% end %>

    <%= link_to "Já possui conta? Faça o login", login_path %>