<p id="notice"><%= notice %></p>

<br>

<h1> FEED </h1>

<br>


<%= link_to 'Novo post', new_post_path %>

<br><br>


    
 <% @friendships.each do |friendship|  %>
    <h2><%=friendship.friend.name %></h2>
    <br>
    <%=friendship.friend.posts %>
    <br>
    <br>
    
    <%= link_to 'Ver post', @post %> | <%= link_to 'Ver perfil', friendship %>
    <br>
    <br>
  

<% end %>  

    

    <br><br>
    <%= link_to 'Todos os posts', posts_path %> | <%= link_to 'Quem está por aqui?', new_path %>
    
    <br><br>
    <br><br>
  


