<p id="notice"><%= notice %></p>



    <h1>Conheça pessoas novas: </h1>

    <% @users.each do |user| %>
        <p><strong><%=user.name %></strong>
            <%= link_to "+ amigo", friendships_path(:friend_id => user), :method => :post %>
            <%= link_to 'Ver perfil', user %>
        </p>
    <% end %>   

    <br><br>
    <%= link_to 'Todos os posts', posts_path %>
    <br><br><br>
    <%= link_to 'Meu perfil', login_path %>

        


 









