<p id="notice"><%= notice %></p>

  <h2>Pessoas que você adicionou</h2>
  <ul>
    <% @friendships.each do |friendship| %>
      <li>
        <%= friendship.friend.name%>
        (<%= link_to "desfazer amizade", friendship, :method => :delete %>)
        <%= link_to 'Ver perfil', friendship %>

      </li>
    <% end %>  
  </ul>

  