<p id="notice"><%= notice %></p>


  <p><><%= @user.name %></h2> <%= link_to "+ amigo", friendships_path(:friend_id => @user), :method => :post %></p>
  


<p><%= link_to "Amigos", amigos_path %></p>



<br>
<table>
  <thead><h2>Posts</h2></thead>
  <tbody>
    <% @user.posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
      </tr>
    <% end %>
    <tr><td><%= link_to 'Novo post', new_post_path %></td></tr>
  </tbody>
</table>
  
  <br>
  
  <% if @current_user == @user %>
    <h2>Outras opções</h2>
    <%= link_to 'Exluir perfil', @user, method: :delete, data: { confirm: 'Você está prestes a excluir seu perfil, é isso que deseja?' } %>
  <% end %>


