<% if Like.where(post_id: @post.id).empty? %>
        <p id="like<%= @post.id %>"><%= link_to "Curtir", like_path(post_id: @post.id),
            method: :patch, remote: true, authenticity_token: true %> (<%= Like.where(post_id: @post.id).count %>)</p>
    <% else %>
        <p id="dislike<%= @post.id %>"><%= link_to "Descurtir", dislike_path(post_id: @post.id),
            method: :patch, remote: true, authenticity_token: true %> (<%= Like.where(post_id: @post.id).count %>)</p>
<% end %>