<p id="notice"><%= notice %></p>

<h1>Posts</h1>



<table>
  <thead>
    <tr>
      <th>Autor</th>
      <th>Título</th>
      <th>Post</th>
      <th>Comentários</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.user.name %></td>
        <td><%= link_to post.title, post %></td>
        <td><%= post.content %></td>
        <td><%= post.comments%>
       
       
        <% if @current_user == post.user_id %>
          <td><%= link_to 'Deletar', post, method: :delete, data: { confirm: 'Você quer mesmo deletar esse post?' } %></td>
           <td><%= link_to 'Editar', edit_post_path(post) %></td>
        <% end %>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo post', new_post_path %>
<br>
<br>
<br>
<br>
<%= link_to 'FEED', todos_path%>
