<p id="notice"><%= notice %></p>

<p>

   <%= @post.title %>
   <br>
   <%= @post.content %>
   <br>
  <strong>Autor:</strong>
    <%= @post.user.name %>
    <br>
    <%= render "like" %>
    <%= link_to 'Comentar', new_comment_path %>
    <br>
    <%= @post.comments%>
</p>
 
  <br>
  <% @comments.each do |comment| %>

    <p><%= comment.comment_box %></p>
    <p><%= comment.user_id.name %></p>
  <% end %>
  <br>
  
  <br>
  <% if @current_user == @post.user_id %>
    <%= link_to 'Edit', edit_post_path(@post) %>
  <% end %>
  <br>
  

  <%= link_to 'Posts', posts_path %> 










 