body {
    background: #7BACB0;
}

h1 {
    font-family: Georgia;
    color: #ffffff;
}


// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
