body {
    background: #35ACB0;
}

p {
    font-family: Georgia;
    color: #ffffff;
}



// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
